<div class=container>
        <div class="two">
            <input id="username" type="text" placeholder="please write username" size="30" maxlength="10" />
            <input id="password" type="password" placeholder="please write password" size="30" maxlength="11" />
            <button id="button">login</button>
        </div>
    </div>
       

    background: url('/Users/wuwuchuanping/Downloads/IMG_0040.PNG') center;
  border-top: 1px solid rgb(221, 202, 29);
  background-color:white;
  border: 1px dashed black;