<div class=container>
        <div class="two">
            <input id="username" type="text" placeholder="please write username" size="30" maxlength="10" />
            <input id="password" type="password" placeholder="please write password" size="30" maxlength="11" />
            <button id="button">login</button>
        </div>
    </div>
       

    #footer {
        border-bottom: 1px solid rgb(221, 202, 29);
        background-color: black;
        text-align: center;
        color: white;
        padding: 10px;
        position: fixed;
        bottom: 10px;
        left: 10px;
        right: 10px;
      }